<mat-grid-list cols="3">

    <mat-grid-tile>

        <mat-list>
            <mat-list-item>Username: formation</mat-list-item>
            <mat-list-item>Password: formation</mat-list-item>
        </mat-list>
    </mat-grid-tile>
 
    <!-- Writing markup for login starts -->
    <mat-grid-tile class='login-element'>
        <div class="login-container">
 
            <!-- Template Header starts -->
            <div class="login-box-header">
                <mat-grid-list cols="3">
                    <mat-grid-tile [colspan]="1">
                        <img src="assets/intech_logo-only_sm.png">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <h3>Connexion</h3>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <!-- Template Header ends -->
 
            <!-- Template Body starts -->
            <div class="login-box-body">
 
                <!-- Markup for getting Username starts -->
                <mat-grid-list cols="9" rowHeight="75px">
                    <mat-grid-tile [rowspan]="1" class="login-icon">
                        <mat-icon>lock</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-form-field class="justifier">
                            <input matInput placeholder="Username" [(ngModel)]="model.username" text="text" required>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Username ends -->
 
                <!-- Markup for getting Password starts -->
                <mat-grid-list cols="9" rowHeight="100px">
                    <mat-grid-tile [rowspan]="1"  class="login-icon">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-form-field class="justifier">
                            <input matInput placeholder="Password" [(ngModel)]="model.password" text="password" required>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Password ends -->
 
                <button mat-raised-button class="login-button" (click)="login()"> 
                    <mat-icon>input</mat-icon> Login
                </button>
                {{error}}
 
            </div>
            <!-- Template Body ends -->
            
        </div>
    </mat-grid-tile>
    <!-- Writing markup for login ends -->
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>